/*  */
.card {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.card_box {
  background-color: #231e39;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.35);
  color: #b3b8cd;
  text-align: center;
  overflow: hidden;
  border-radius: 0.5rem;
}

.image img {
  width: 314.66px;
  height: 314.66px;
}
.card_info {
  line-height: 1;
  padding: 0 1.5rem;
}

.card_vote {
  color: #7dc9e7;
}

.total {
  background-color: #33b1c7;
  padding: 0.5rem;
  border-radius: 0.2rem;
  font-weight: 900;
  letter-spacing: 1;
  color: #fff;
  text-transform: uppercase;
}

.card_vote p {
  font-size: 1.5rem;
}

.card_button {
  margin-bottom: 2rem;
  padding: 0.5rem;
}

.card_button button {
  background-color: #48ccd8;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.35);
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  border-radius: 0.2rem;
  cursor: pointer;
}

/* ////////////MEDIA QUERY */

@media screen and (max-width: 35em) {
  .card {
    grid-template-columns: 1fr;
  }
}
